html{
    font-family: sans-serif;
    background-color: #fff;
}
body{
    width:100%;
    max-width: 640px;
    margin:0 auto;
    padding:0;
}

body:before, body:after{
    display:table;
    clear:both;
}

#title{
    font-size: 1rem;
    font-weight: bold;
    padding:.5rem;
    text-align: center;
    color:#000;
}

#desc{
    color:#555;
    padding:0 1rem;
    font-size: .75rem;
}

#genres {
    padding:0 .5rem;
    background-color: #555;
    color:#fff;
}
#genres input {
    display: none;
}
#genres label {
    border-radius:1rem;
    border-width: 0;
    padding:.5rem;
    line-height: 2rem;
    font-weight: bold;
    white-space: nowrap;
}
#genres input:checked + label {
    background-color: #fff;
    color:#555;
}

#works{
}
#works .entry {
    padding:0.25rem 1rem;
    display: block;
}
input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
input[type="checkbox"]:checked ~ .reviews {
    height: 100%;
    visibility: visible;
}
.work {
    display: table;
}
.work .desc {
    float:left;
}
.work .rank {
    font-size: 1rem;
    font-weight: bold;
}
.work .star {
    padding:.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #bbb;
}
.work .title{
    font-size: 1rem;
    font-weight: bold;
}
.work .genre{
    padding:.5rem;
    font-weight: bold;
    font-size: .75rem;
    color: #bbb;
}
.work .copy {
    float:right;
    display: table;
    vertical-align: bottom;
    font-family: serif;
    color:#555;
}
.author, .reviewer{
    font-style:italic;
}
.reviews{
    height: 0;
    visibility: hidden;
    clear:both;
    font-family: serif;
    font-size: .75rem;
    border-width: 1px;
    border-radius: .34rem;
    border-color: #bbb;
    border-style: solid;
    padding: 0 .25rem;
}
.reviews .review{
    margin:0 .75rem;
    line-height: 2rem;
    white-space: pre-wrap;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}

#footer{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: .75rem;
    text-align: right;
    padding: .5rem 1rem;
    /*background-color: #555;
    color: #fff;*/
}
